{{#each blogs}}

<div class="blog" style="margin-top: 20px; margin-right: 700px; 
                         font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
                         font-size:largr">
    <a class="blog" style="margin: right 15px;" href="/blogPost/{{this.slug}}"><h1>{{this.title}}</h1></a>                     
    {{this.title}}
    <br>
    <br>
</div>
   
  {{/each}}